body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.task-app {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

input {
  padding: 0.5rem 0.5rem;
}

.btn {
  background-color: lightblue;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}

.filters-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
